@model IEnumerable<FanFicFabliaux.Models.Book>

@{ ViewData["Title"] = "Index"; }
@{ ViewData["Title"] = "ChooseBook"; }


<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn btn-secondary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="border-top my-3"></div>
            <p>Opcije filtriranja</p>
            <p>Opcije filtriranja</p>
            <p>Opcije filtriranja</p>
            <p>Opcije filtriranja</p>
        </div>
        <div class="col-10">
            <h2>Explore books</h2>
            <div class="list-group my-2">
                <a class="list-group-item list-group-item-action" aria-current="true"asp-area="" asp-controller="Book" asp-action="BookData">
                    <div class="d-flex w-50 justify-content-between">
                        <h5 class="mb-1">Naslov</h5>

                    </div>
                    <p class="mb-1">Autor</p>
                    <small>Lorem ispum.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-50 justify-content-between">
                        <h5 class="mb-1">Naslov</h5>

                    </div>
                    <p class="mb-1">Autor</p>
                    <small class="text-muted">Lorem ispum</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-50 justify-content-between">
                        <h5 class="mb-1">Naslov</h5>

                    </div>
                    <p class="mb-1">Autor</p>
                    <small class="text-muted">Lorem ispum</small>
                </a>
            </div>
        </div>
    </div>

</div>
