<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2 style="color:lightblue;">
        Hello [username],
    </h2>

    <p style="color:lightblue;">
        Author [author] has published a new book!
    </p>

    <div style="border:1px solid black; margin:1.5em;">
        <div style="display:flex; align-items:center; border-bottom:1px solid gray;">
            <span style="font-weight: bold; display: block; padding: 0.5em; width: 5em;">
                Title
            </span>
            <span style="display: block; padding: 0.5em;">
                [bookTitle]
            </span>
        </div>
        <div style="display:flex; border-bottom:1px solid gray;">
            <span style="font-weight: bold; display: block; padding: 0.5em; width: 5em;">
                Genre
            </span>
            <span style="display: block; padding: 0.5em;">
                [genre]
            </span>
        </div>
        <div style="display:flex; border-bottom:1px solid gray;">
            <span style="font-weight: bold; display: block; padding: 0.5em; width: 5em;">
                Author
            </span>
            <span style="display: block; padding: 0.5em;">
                [author]
            </span>
        </div>
        <div style="display:flex; border-bottom:1px solid gray;">
            <span style="font-weight: bold; display: block; padding: 0.5em; width: 5em;">
                Date
            </span>
            <span style="display: block; padding: 0.5em;">
                [date]
            </span>
        </div>
    </div>

    <p style="color:lightblue;">
        Visit <a href="[appLink]">Fan Fic Fabliaux</a> to read now!
    </p>
</body>
</html>